@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
}
body{
    font-size:100%;
    background-image: linear-gradient(180deg, #30b3c7 0, #3a92a5 16.67%, #3c6e7d 33.33%, #354850 50%, #272625 66.67%, #170500 83.33%, #000000 100%);
}
.cabecalho{
display: flex;
flex-direction:row;
align-items: center;
justify-content: space-around;
padding: 25px;

}
.cabecalho-imagem{
height: 72px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}
.cabecalho-menu-item{
    font-family: 'Inconsolata', monospace;
    color: white;
    font-weight: 400;
    font-size: 20px;
}
.conteudo{
    margin-bottom: 50px;
  border-top: 0.8px solid white;

}
.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.conteudo-principal-escrito{
   display: flex;
   flex-direction: column;
   gap: 35px; 
}
.titulo{
    font-family: 'Inconsolata', monospace;
    font-size: 65px;
    font-weight: 450;
    color: white; 
}
.subtitulo{
    font-family: 'Inconsolata', monospace;
    font-size: 35px;
    font-weight: 400;
    color: white;
}
.botao{
    background-color: #30b3c7;
    width: 200px;
    height: 80px;
    border: none;
    box-shadow: black;
    border-radius:20px;
    font-family: 'Inconsolata', monospace;
    font-size: 25px;
    font-weight:400;
    color: black;
}
.botao:hover{
background-color: #354850;
}
.conteudo-principal-imagem{
height:200px;
}
.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 41px;

}
.conteudo-secundario-titulo{
    border-top: 0.8px solid white;
    padding-top: 48px;
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    font-weight: 400;
    color: white;
    margin-bottom: 17px;
}
.conteudo-secundario-paragrafo{
    font-family: 'Inconsolata', monospace;
    font-size: 19px;
    font-weight: 400;
    color: rgb(196, 179, 179); 
}
.rodape{
    padding: 32px;
    border-top: 0.8px solid white;

}
.rodape-imagem{
    height: 150px;
display: block;
margin:0 auto;

}